ci:
  autofix_commit_msg: "pre-commit autofix run"
  autoupdate_commit_msg: "pre-commit autoupdate hooks"

repos:
  - repo: local
    hooks:
      - id: spectral-lint-references
        name: "spectral linter: references"
        language: node
        entry: npx spectral lint ./reference/**/*.yaml --ruleset .spectral.yaml
        files: ^reference/|models/
        additional_dependencies: ["@stoplight/spectral-cli@6.6.0"]
        types: [yaml]

      - id: spectral-lint-models
        name: "spectral linter: models"
        language: node
        entry: npx spectral lint ./reference/**/*.yaml --ruleset .spectral.models.yaml --fail-severity warn
        files: ^reference/|models/
        additional_dependencies: ["@stoplight/spectral-cli@6.6.0"]
        types: [yaml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
